<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="constellationSettings" type="Constellation.Configuration.ConstellationSettings, Constellation.Common, Version=1.8.0.0, Culture=neutral, PublicKeyToken=324a4f45ff674ee1" />
  </configSections>
  <constellationSettings xmlns="http://schemas.myconstellation.io/Constellation/1.8/ConstellationSettings">
    <settings>
      <setting key="CalcMethod" value="3" />
      <setting key="AsrMethod" value="0"/>
      <setting key="FajrAngle" value=""/>
      <setting key="MaghribAngle" value=""/>
      <setting key="IshaAngle" value=""/>
      <setting key="IsmakMinutes" value=""/>
      <setting key="IsmakAngle" value=""/>
      <setting key="IsmakAngle" value=""/>
      <setting key="DhuhrMinutes" value=""/>
      <setting key="MaghribMinutes" value=""/>
      <setting key="IshaMinutes" value=""/>
      <setting key="CustomParams" value=""/>
      <setting key="TimeOffsets" value=""/>
      <setting key="HighLatsMethod" value=""/>
      <setting key="timeFormat" value=""/>
      <setting key="latitude" value="2.269692"/>
      <setting key="longitude" value="48.807341"/>
    </settings>
  </constellationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>